body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

.counter {
  text-align: center;
}

.counter h1 {
  color: #1976d2; 
  font-size: 40px;
}

.counter__output {
  font-size: 40px;
  color: #ff4500; 
}

.btn__container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.control__btn,
.reset {
  font-size: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: #1976d2; 
  border: 1px solid #1976d2; 
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-left: 15px;
}

.control__btn:hover,
.reset:hover {
  background-color: #1976d2; 
  color: #fff;
  border: 1px solid #1976d2; 
}
